body{
font-family: 'Raleway', sans-serif;	
position:relative;
margin:0 0;
padding:0 0;
}
.top{
	/*background:url("Minimalistic-Vibrant-Food-Blog-Template-Free-PSD1.png");*/
	background:url("https://raw.githubusercontent.com/Ioannali/WeeklyWebDevChellange/master/Challenge2/Images/Home-bg.png");
	background-repeat:no-repeat;
	background-size:cover;
	height:900px;	
}

.navbar > .container .navbar-brand{
	margin-left:40px;
}
.logo{
	font-family: 'Pacifico', cursive;
	font-size:52px;
	display:block;
	margin-left:20px;
}
.navbar-default{
	background-color:transparent;
	background-image:none;
	box-shadow:none;
	border:none;
	margin-top:40px;
}

.navbar-right {
	font-family: 'Raleway', sans-serif;
	font-weight:800;
	text-transform:uppercase;
}
.navbar-default .navbar-nav > .active > a:focus,.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a {
	background-image: none;
	box-shadow: none;
	background-color: transparent;

}
.navbar-default .navbar-nav > .active > a:focus span,.navbar-default .navbar-nav > .active > a:hover span,.navbar-default .navbar-nav > .active > a span {
	border-top: 3px solid #ff6033;
padding-top:4px;
}
.navbar-shrink{
	 padding: 10px 0;
	 background-color: rgba(255,255,245, 1);
	 margin-top:0px;
	 -webkit-animation-duration:10s;
	         animation-duration:10s;
}   

/*
.affix-top{
	position:fixed;
}

.affix{
	margin-top:10px;
}
*/
.left{
	margin-top:300px;
	font-family: 'Raleway', sans-serif;
}
.h1{
	font-weight:700;
	font-size: 65px;	
}
.h1-margin{
	margin-top:50%;
}
#home h1{
	font-weight:900;
	font-size: 65px;
}
.left span{
	font-weight:300;
}
.home-button{
	background-color:#ff6033;
	color:white;
	margin-top:30px;
	margin-left:60px;	
}
.button{
	border-radius:0px;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
}
.button:hover,
.button:visited{
	color:white;
}
#about{
	background-image: -webkit-gradient( linear, left top, right top, from(#00b0b0), to(#00b4b4));
	background-image: linear-gradient( to right, #00b0b0, #00b4b4);
	color:white;
	height:100%
}
.about-left{
	background-repeat:no-repeat;
	height:700px;
}
.about-right{
	margin-top:200px;
}
#services{
	background-color:#70bfff;
	color:white;
	height:100%;
}
#services button{
	padding:0px 0px;
	margin-bottom:20px;
}
#services button:hover{
	box-shadow:none;
}
.shadow{
	-webkit-filter:drop-shadow(0px 4px 15px #F34B27);
	        filter:drop-shadow(0px 4px 15px #F34B27);
}
.services-right{	background:url("https://raw.githubusercontent.com/Ioannali/WeeklyWebDevChellange/master/Challenge2/Images/tomato.png");
	background-repeat:no-repeat;
	background-position: center;
	letter-spacing:1px;height:700px;
}
.services-right h1{
	padding-top:40%;
}
.services-left{
	padding-top:10%;
}
#gallery{
	background-color: #ffe92f;
	text-align:center;
	padding-top:100px;
}

#gallery button{
	color:white;
	background-color:#5585a2;
	margin-top:30px;
	margin-bottom:120px;	
}
.gallery-left,
.gallery-right{
	margin-bottom: 40px;
	margin-top:50px;
}

#subscribe{
background:url("https://raw.githubusercontent.com/Ioannali/WeeklyWebDevChellange/master/Challenge2/Images/subscribe-bg.png");
background-repeat:no-repeat;
background-size:cover;	
height:auto;

}
.subscribe-left{
	margin-top:10%;
	margin-bottom:10%;
	
}
#subscribe h2{
	font-weight:700;
	font-size:30px;
}
#subscribe button{
	background-color:#96b92c;
	margin-left:30px;
	color:white;
}
#subscribe input{
	border: solid 1px black;
	 padding: 10px;
	 width:70%;
}
#blog{
	background-color: #b07cf7;
	text-align:center;
	padding-top:100px;
	color:white;
}
.blog{
	margin-bottom:50px;
}
#blog button{
	color:white;
	background-color:#f72b3b;
	margin-top:50px;
	margin-bottom:120px;	
}
#contact{
	background:url("https://raw.githubusercontent.com/Ioannali/WeeklyWebDevChellange/master/Challenge2/Images/contact-bg.png") no-repeat;
	background-size:cover;	
	padding-top:100px;
	height:100%;
}
.contact{
	text-align:center;
}
.contact-left{
	margin-top:50px;
}
.input{
	background-color:rgba(0,196,196,0.5);
	color:white;
	font-weight:700;
	margin-bottom:30px;
}
.input:focus{
	background-color:rgb(0,196,196)
}
/* here I've changed color of placeholders */
.input::-webkit-input-placeholder {
    color: white;
	font-weight:300;
}
.input:-moz-placeholder {
    /* FF 4-18 */
     color: white;
	 font-weight:300;
}
.input::-moz-placeholder {
    /* FF 19+ */
     color: white;
	 font-weight:300;
}
.input:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
	font-weight:300;
}

textarea.form-control{
	height:250px;
	width:100%;
}

.contact-right{
margin-top:50px;	
}
.capital{
	font-weight:700;
	text-align:left;
	line-height:30px;
}
#footer{
	background-color:black;
	color:white;
	height:100%;
}
.footer{
	padding:30px 0px;
}
.logo-small{
	text-align:center;
}
.red{
	color:#ff2b58;
	font-weight:700;
}
.right{
	text-align:right;
}

													/*RWD*/

@media(max-width:767px){
	
.top{
	height:500px;	
}

.navbar > .container .navbar-brand{
	margin-left:20px;
}

.affix-top{
	position:relative;
}

.affix{
	margin-top:10px;
}
.left{
	margin-top:30%;
	font-family: 'Raleway', sans-serif;
}

#home h1{
	font-weight:900;
	font-size: 45px;
}

.about-left{
	height:auto;
}
.about-right{
	margin-top:0px;
	margin-bottom:10%;
}

#services h1{
margin-top:50px;
}
#services{
	background-color:#70bfff;
	color:white;
	height:100%;
}

.services-right{
	background-repeat:no-repeat;
	background-position: center;
	letter-spacing:1px;
	height:700px;
}
.services-right h1{
	padding-top:40%;
}
.services-left{
	padding-top:5%;
}


#gallery{
	padding-top:90px;
}

#subscribe{
height:400px;
}
.subscribe-left{
	margin-top:10%;
	margin-bottom:10%;	
}
#subscribe button{
	margin-top:30px;
	margin-left:30px;

}
#blog{
	background-color: #b07cf7;
	text-align:center;
	padding-top:50px;
	color:white;
}
.text-center img{
	margin-bottom:20px;
}
#contact{	
	padding-top:50px;
	height:100%;
}
.contact{
	text-align:center;
}

.contact-right{
margin-top:50px;
color:white;
margin-bottom:50px;	
}
}



@media(max-width:991px){
.top{
	height:500px;	
}

.navbar > .container .navbar-brand{
	margin-left:0px;
}
   
.left{
	margin-top:25%;
	font-family: 'Raleway', sans-serif;
}

#about{
	background-image: -webkit-gradient( linear, left top, right top, from(#00b0b0), to(#00b4b4));
	background-image: linear-gradient( to right, #00b0b0, #00b4b4);
	color:white;
	height:100%;
}

.about-right{
	margin-top:0px;
	margin-bottom:50px;
}
#services{
	background-color:#70bfff;
	color:white;
	height:100%;
}

.services-right{
	letter-spacing:1px;
	height:700px;
}
.services-right h1{
	padding-top:40%;
}
.services-left{
	padding-top:5%;
}

#gallery{
	background-color: #ffe92f;
	text-align:center;
	padding-top:50px;
}
.gallery-left,
.gallery-right{
	margin-bottom: 0px;
	margin-top:20px;
}
#gallery button{
	color:white;
	background-color:#5585a2;
	margin-top:30px;
	margin-bottom:70px;	
}

.subscribe-left{
	margin-top:10%;
	margin-bottom:10%;	
}

#blog{
	background-color: #b07cf7;
	text-align:center;
	padding-top:50px;
	color:white;
}

#blog button{	
	margin-bottom:70px;	
}
.text-center img{
	margin-bottom:20px;
}
#contact{
	background-size:cover;	
	padding-top:50px;
	height:100%;
}
.contact{
	text-align:center;
}
.contact-right{
margin-top:50px;
color:white;
margin-bottom:50px;	
}	
}